<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Vue - v-if e v-for</title>
        <link rel="stylesheet" href="style.css">
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    </head>
    <body>

        <div id="root">
            <h1>Paragrafi visualizzati con v-if</h1>
            <p class="primo" v-if="visibile">primo paragrafo</p>
            <p class="secondo" v-if="(numero < 10)">secondo paragrafo</p>
            <p class="terzo" v-if="(numero < 10) ? true : false">terzo paragrafo</p>
            <p class="quarto" v-if="is_visibile()">quarto paragrafo</p>

            <h1>Lista elementi di un array stampati con v-for</h1>
            <ul>
                <li v-for="(nome, posizione) in nomi">
                    {{ posizione}} : {{ nome }}
                </li>
            </ul>

            <h1>Lista numeri dispari compresi tra 1 e 100 stampati con v-for</h1>
            <p v-for="i in 100" v-if="(i % 2)">
                {{ i }}
            </p>
        </div>


        <script src="main.js" charset="utf-8"></script>
    </body>
</html>
